
@{
    ViewBag.Title = "Index";
    string schemeListJson = ViewBag.SchemeListInJSON;
    string schemePartsListJson = ViewBag.SchemePartsListInJSON;
    int catalogueId = ViewBag.CatalogueId;
}

<script>
    window.selectedCatalogueId = @Html.Raw(catalogueId)
    window.schemeList = @Html.Raw(schemeListJson)
    window.schemePartsList = @Html.Raw(schemePartsListJson)
</script>

<div id="myHeader"><h2>Каталог: "@ViewBag.CatalogueName"</h2></div>


<div id="root"></div>
<script src="~/scripts/React/Release/vendor.js"></script>
<script src="~/scripts/React/Release/index.js"></script>


